@import url('https://fonts.googleapis.com/css?family=Lato:100');
#clock-quote {
	width: 100%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	position: fixed;
	top: 50%;
	display: inline-block;
}
#clock-quote #quote {
	padding: 2em 0 0 0;
}
#clock-quote #date {
	padding: 0.5em 0 0 0;
}

#clock-quote #clock{
	width: 100%;
	height: 100%;
	min-height: 500px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 5em;
	position: fixed;
    top: 40%;
	display: block;
}